# Config shortcuts
alias \
	va="vim ~/.aliases" \
	vb="vim ~/.config/polybar/config" \
	vc="vim ~/.config/picom/picom.conf" \
	vd="vim ~/.config/dwm/config.h" \
	vg="sudo vim /etc/lightdm/lightdm-mini-greeter.conf" \
	vk="vim ~/.config/kitty/kitty.conf" \
	vl="sudo vim /etc/lightdm/lightdm.conf" \
	vm="sudo vim /etc/pacman.d/mirrorlist" \
	vn="vim ~/.config/ncmpcpp/config" \
	vp="sudo vim /etc/pacman.conf" \
	vr="vim ~/.config/ranger/rc.conf" \
	vs="sudo EDITOR=vim visudo" \
	vu="vim ~/.config/newsboat/urls" \
	vv="vim ~/.vimrc" \
	vz="vim ~/.zshrc" \
	vx="vim ~/.xinitrc" \

# Shortcuts
alias \
	bat="acpi" \
	battery="acpi" \
	blueman="blueman-manager" \
	cp="cp -vi" \
	crot="scrot ~/pix/screenshots/$(date --iso-8601=seconds | sed 's/T/_/;s/+.*$/\.png/')" \
	dl="youtube-dl --add-metadata -i" \
	dotfiles="git clone https://github.com/noooxxi/dotfiles" \
	du="du -h" \
	fkill="fuser -km" \
	grep="grep --color=auto" \
	gu="sudo grub-mkconfig -o /boot/grub/grub.cfg" \
	k="pkill -9" \
	layout="setxkbmap -layout se" \
	log="journal" \
	ls="ls -hN --color=auto --group-directories-first" \
	matrix="cmatrix" \
	minecraft="minecraft-launcher" \
	mines="kmines" \
	minesweeper="kmines" \
	mv="mv -vi" \
	notes="sncli" \
	pipes="pipes.sh" \
	reboot"reboot -p" \
	reload="cd ~/.config/dwm; sudo make install; cd" \
	rm="rm -vI" \
	rp="~/.config/polybar/launch.sh" \
	shutdown="shutdown -P now" \
	sinks="pamixer --list-sinks" \
	sx="startx" \
	telegram="telegram-desktop" \
	tetris="yetris" \
	tsm="transmission-remote" \
	weather="curl -s wttr.in" \
	yeet="yay -Syu --noconfirm" \
	youtube-dl"youtube-dl --add-metadata -i" \
	yt="youtube-viewer" \
	z="zathura" \
	zip="gzip" \

# Scripts
alias \
	note="vim $HOME/dox/notes/$(date +%Y-%m-%d_%H:%M.txt)" \
	day="echo $(date +%A), day $(date +%j)" \
	week="echo Week $(date +%V)" \
	ghosts="clear; ghosts" \
	ufetch="clear; ufetch" \
	bose="qc35" \
