* {
    xbg:    #050f16;
    xfg:    #a5c7c3;
    x0:     #050f16;
    x1:     #12a78c;
    x2:     #16ce6d;
    x3:     #c3e830;
    x4:     #1365ac;
    x5:     #e018a9;
    x6:     #15bfc4;
    x7:     #738c88;
    x8:     #738c88;
    x9:     #12a78c;
    x10:    #16ce6d;
    x11:    #c3e830;
    x12:    #1365ac;
    x13:    #e018a9;
    x14:    #15bfc4;
    x15:    #a5c7c3;
}

