# Shortcuts
alias battery="acpi"
alias bat="acpi"
alias tetris="yetris"
alias ufetch="clear; ufetch"
alias matrix="cmatrix"
alias pipes="pipes.sh"
alias minecraft="minecraft-launcher"
alias blueman="blueman-manager"
alias telegram="telegram-desktop"
alias k="pkill -9"
alias weather="curl wttr.in"
alias sx="startx"
alias myip="curl ifconfig.me | cut -d % -f1"
alias reload="cd ~/dwm; sudo make install"
alias zip="gzip"
alias shutdown="shutdown -P now"
alias reboot"reboot -p"
alias fkill="fuser -km"
alias ls="ls --color"
alias gu="sudo grub-mkconfig -o /boot/grub/grub.cfg"
alias grub-update="sudo grub-mkconfig -o /boot/grub/grub.cfg"

# Config shortcuts
alias va="vim ~/.aliases"
alias vd="vim ~/dwm/config.h"
alias vk="vim ~/.config/kitty/kitty.conf"
alias vp="vim ~/.config/picom/picom.conf"
alias vz="vim ~/.zshrc"
alias vx="vim ~/.xinitrc"

# Scripts
alias note="vim $HOME/notes/$(date +%Y-%m-%d_%H:%M.txt)"
alias day="echo $(date +%A), day $(date +%j)"
alias week="echo Week $(date +%V)"
alias year="~/.scripts/year.sh"
alias wifi="~/.scripts/wifi.sh"
alias histfix="~/.scripts/histfix.sh"
alias qc35="~/.scripts/qc35.sh"
alias ghosts="clear; ~/.scripts/ghosts.sh"
